
<h1>Sales </h1>

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Folio Number</label>
        <input type="text" [(ngModel)]="newSale.FolioNumber" name="FolioNumber" class="form-control" id="exampleInputEmail1" placeholder="Folio Number">
    </div>
    <div class="form-group">
        <label for="datepicker">Sale Date</label>
        <input type="date" [(ngModel)]="newSale.SaleDate" name="SaleDate"  class="form-control" id="datepicker" placeholder="Sale Date">
        
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Sale Amount</label>
        <input type="text" [(ngModel)]="newSale.SaleAmount" name="SaleAmount"  class="form-control" id="exampleInputEmail1" placeholder="Sale Amount">
    </div>
    
    <button (click)="saveSale()" type="submit" class="btn btn-default">Submit</button>
    </form>
    <br>
    <div class="row">
        <div class="input-group">
            <input type="text" [(ngModel)]="searchQuery" class="form-control" placeholder="Search" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="getAllSales()"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        <br>
        <table class="table table-striped">
                <tr>
                    <td>Folio Number</td>
                    <td>Sale Date</td>
                    <td>Sale Amount</td>
                    <td>Actions</td>
                </tr>
                <tr *ngFor="let item of salesList">
                    <td> {{item.FolioNumber}} </td>
                    <td> {{item.SaleDate}} </td>
                    <td> {{item.SaleAmount}} </td>
                    <td>
                        <a href="#" (click)="selectSale(item)"> Edit</a>
                        <a href="#" (click)="deleteSale(item)">Delete</a>
                    </td>
                </tr>
            </table>
    </div>


    